<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mt.androidtest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/number1_b"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".showview.SysAppsActivity"
            android:label="@string/title_activity_sys_apps" >
        </activity>
        <activity
            android:name=".showview.SwitcherDemoActivity"
            android:label="@string/title_activity_switcher_demo" >
        </activity>
        <activity
            android:name=".showview.ShowViewActivity"
            android:label="@string/title_activity_show_view" >
        </activity>
        <activity
            android:name=".showview.ResourceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_resource" >
        </activity>
        <activity
            android:name=".permission.PermissionActivity"
            android:label="@string/title_activity_permission" >
        </activity>
        <activity
            android:name=".myselfview.MyPreferenceActivity"
            android:label="@string/title_activity_my_preference" >
        </activity>
        <activity
            android:name=".listview.ListViewTestActivity"
            android:label="@string/title_activity_list_view" >
        </activity>
        <activity
            android:name=".showview.InflateActivity"
            android:label="@string/title_activity_inflate" >
        </activity>
        <activity
            android:name=".myselfview.MySelfViewActivity"
            android:label="@string/title_activity_myselfview" >
        </activity>
        <activity
            android:name=".asynchronous.AsynchronousActivity"
            android:label="@string/title_activity_asynchronous" >
        </activity>
        <activity
            android:name=".permission.RequestPermissionsActivity"
            android:label="@string/title_activity_request_permissions" >
        </activity>
        <activity
            android:name=".storage.StorageActivity"
            android:label="@string/title_activity_storage" >
        </activity>
        <activity
            android:name=".storage.ExtStorageActivity"
            android:label="@string/title_activity_sdcard" >
        </activity>
        <activity
            android:name=".storage.IntStorageActivity"
            android:label="@string/title_activity_int_storage" >
        </activity>
        <!--
        2、下列CALENDAR读写权限影响内部所有Uri的读写操作，说明如下：
		1)path-permission中的读写权限可以用provider中的读写权限替代，但是path-level权限优先级高于 provider-level权限。
		2)拥有path-permission中的读写权限，而没有provider中的读写权限是可以对Uri(例如android:pathPrefix="/sqlite")进行读写操作的；
        -->
        <!--
        3、android:grantUriPermissions和grant-uri-permission是针对含有ContentProvider的应用而言的。
		1、下列provider中android:grantUriPermissions="true"是指开启该provider中所有Uri的临时权限；为"false"是指不允许开启provider中所有Uri的临时权限。
		2、在1中所示前提下，如果设置了grant-uri-permission，则全局的android:grantUriPermissions属性将无效，此时只允许grant-uri-permission声明的uri可以开启临时权限访问。
        -->
        <provider
            android:name=".data.ContentProviderDemo"
            android:authorities="com.mt.androidtest.cpdemo"
            android:exported="true"
            android:grantUriPermissions="false"
            android:multiprocess="false"
            android:readPermission="android.permission.READ_CALENDAR"
            android:writePermission="android.permission.WRITE_CALENDAR" >

            <!-- 1、其他调用者发送的Uri的path部分如果以/sqlite开头，那么此调用者需具备规定的读写权限 -->
            <path-permission
                android:pathPrefix="/sqlite"
                android:readPermission="android.permission.READ_EXTERNAL_STORAGE"
                android:writePermission="android.permission.WRITE_EXTERNAL_STORAGE" />
            <!-- 4、其他应用没有CALENDAR以及CONTACTS读写权限可以通过临时权限方式读写/grant开头的Uri的 -->
            <grant-uri-permission android:pathPrefix="/grant" />
            <!-- 设置了grant-uri-permission将使得android:grantUriPermissions失效 -->
            <path-permission
                android:pathPrefix="/grant"
                android:readPermission="android.permission.READ_CONTACTS"
                android:writePermission="android.permission.WRITE_CONTACTS" />
        </provider>

        <activity
            android:name=".data.ContentResolverDemoActivity"
            android:label="@string/title_activity_content_resolver_demo" >
            <intent-filter>
                <action android:name="com.mt.androidtest.ContentResolver" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="com.mt.androidtest.cpdemo/intent_test" />
            </intent-filter>
        </activity>
        <activity
            android:name=".system.PackageManagerActivity"
            android:label="@string/title_activity_package_manager" >
        </activity>
        <activity
            android:name=".touchevent.TouchEventActivity"
            android:label="@string/title_activity_on_click"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mt.androidtest.measurelayoutdraw.MeasureLayoutDrawActivity"
            android:label="@string/title_activity_measure_layout_draw" >
        </activity>
    </application>

</manifest>
