<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mt.androidtest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/number1_b"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mt.androidtest.showview.SysAppsActivity"
            android:label="@string/title_activity_sys_apps" >
        </activity>
        <activity
            android:name="com.mt.androidtest.showview.SwitcherDemoActivity"
            android:label="@string/title_activity_switcher_demo" >
        </activity>
        <activity
            android:name="com.mt.androidtest.showview.ShowViewActivity"
            android:label="@string/title_activity_show_view" >
        </activity>
        <activity
            android:name="com.mt.androidtest.showview.ResourceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_resource" >
        </activity>
        <activity
            android:name="com.mt.androidtest.permission.PermissionActivity"
            android:label="@string/title_activity_permission" >
        </activity>
        <activity
            android:name="com.mt.androidtest.customedcontroller.MyPreferenceActivity"
            android:label="@string/title_activity_my_preference" >
        </activity>
        <activity
            android:name="com.mt.androidtest.listview.ListViewTestActivity"
            android:label="@string/title_activity_list_view" >
        </activity>
        <activity
            android:name="com.mt.androidtest.showview.InflateActivity"
            android:label="@string/title_activity_inflate" >
        </activity>
        <activity
            android:name="com.mt.androidtest.customedcontroller.MySelfViewActivity"
            android:label="@string/title_activity_customed_controller" >
        </activity>
        <activity
            android:name="com.mt.androidtest.asynchronous.AsynchronousActivity"
            android:label="@string/title_activity_asynchronous" >
        </activity>
        <activity
            android:name=".permission.RequestPermissionsActivity"
            android:label="@string/title_activity_request_permissions" >
        </activity>
        <activity
            android:name="com.mt.androidtest.storage.StorageActivity"
            android:label="@string/title_activity_file_operate" >
        </activity>
    </application>

</manifest>
